@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,700&family=Volkhov&display=swap");

:root {
  font-size: 10px;
  --Vollhov: "Volkhov", serif;
  --black-color: #000;
  --bg-contacts-color: #e5e5e5;
  --white-color: #fffcfc;
  --name-color: rgba(163, 83, 10, 0.7);
}

body {
  margin: 0 auto;
  font-family: "Rosario", sans-serif;
  font-style: italic;
  max-width: 1620px;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 87vh;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5rem;
  overflow: hidden;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

/* header styles start */
header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.5vh;
  background-color: var(--black-color);
  padding-right: 3rem;
}

.header > nav {
  width: 45%;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header-nav__item {
  font-weight: 700;
  font-size: 2.8rem;
  color: var(--white-color);
}

/* header styles end */
/* gallery section styles start  */
.gallery {
  padding-top: 7rem;
}

.gallery,
.gallery > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery > div {
  flex-direction: column;
}

.gallery__img {
  position: relative;
  top: 0;
  right: 0;
}

.gallery img {
  width: 90%;
}

.gallery__center-left {
  animation: left 1s linear;
}

.gallery__left-img {
  animation: left 2s linear;
}
.gallery__center-right {
  animation: right 1s linear;
}

.gallery__right {
  animation: right 2s linear;
}

@keyframes left {
  from {
    left: -50%;
  }

  to {
    left: 0;
  }
}

@keyframes right {
  from {
    right: -50%;
  }
  to {
    right: 0px;
  }
}

.gallery__center-left > img:first-child,
.gallery__center-right > img:first-child {
  margin-bottom: 2rem;
}

/* gallery section styles end */

/* services styles start */

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 50%;
  row-gap: 5rem;
  position: relative;
}
.services__item {
  width: 33.5%;
  position: absolute;
}

.services__item img,
.services__item a,
.services__item p {
  width: 100%;
}

.service-one {
  position: relative;
  top: 0;
  left: 0;
  animation: first-circel 7s linear infinite;
}

.service-two {
  position: relative;
  top: 0;
  left: 0;
  animation: second-circel 7s linear infinite;
}
.service-three {
  position: relative;
  top: 0;
  left: 0;
  animation: third-circel 7s linear infinite;
}

.service-four {
  position: relative;
  top: 0;
  left: 0;
  animation: fourth-circel 7s linear infinite;
}

@keyframes first-circel {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 50%;
  }
  50% {
    top: 377px;
    left: 50%;
  }
  75% {
    top: 377px;
    left: 0%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes second-circel {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 377px;
    left: 0;
  }
  50% {
    top: 377px;
    left: -50%;
  }
  75% {
    top: 0;
    left: -50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes third-circel {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: -400px;
    left: 0;
  }
  50% {
    top: -400px;
    left: 50%;
  }
  75% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes fourth-circel {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: -50%;
  }
  50% {
    top: -400px;
    left: -50%;
  }
  75% {
    top: -400px;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

.services__list p {
  margin: 0;
}

.services__item-link {
  font-weight: 700;
  font-size: 3.8rem;
}

.services__bg {
  width: 50%;
  height: 80%;
  overflow: hidden;
}

.services__bg > img {
  width: 100%;
}

/* Team section styles*/
.team {
  text-align: center;
  padding-top: 5rem;
}

.team__title {
  font-style: normal;
  font-weight: 700;
  font-size: 7.8rem;
}

.team-container {
  display: flex;
  justify-content: space-between;
  height: 60vh;
}

.barber {
  height: 100%;
  width: 23%;
  border-radius: 3.5rem;
}

.barber__btn {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
  border-radius: 3.5rem;
}

.barber__btn > p {
  background-color: var(--name-color);
  color: var(--white-color);
  font-family: var(--Vollhov);
  font-style: normal;
  font-size: 3.6rem;
  width: 100%;
  height: 20%;
  margin: 0%;
  border-bottom-left-radius: 3.3rem;
  border-bottom-right-radius: 3.3rem;
  padding-top: 4rem;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.5s;
}

.barber__btn:hover p {
  opacity: 1;
}

.team-container:hover > .barber:not(:hover) {
  filter: brightness(20%);
  transition: all 0.7s;
}

.one {
  background-image: url(../img/barber1.png);
  background-repeat: no-repeat;
  background-size: cover;
      background-position: center;
}

.two {
  background-image: url(../img/barber2.png);
  background-repeat: no-repeat;
  background-size: cover;
      background-position: center;
}
.three {
  background-image: url(../img/barber3.png);
  background-repeat: no-repeat;
  background-size: cover;
      background-position: center;
}

.four {
  background-image: url(../img/barber4.png);
  background-repeat: no-repeat;
  background-size: cover;
      background-position: center;
}

/* Team section styles end */

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  height: 70vh;
}

.form-container {
  margin-right: 5rem;
}

.form__title {
  font-size: 6.4rem;
  text-align: center;
  margin: 2rem 0;
}

.form {
  background-color: var(--bg-contacts-color);
}

.form input,
.form textarea {
  font-family: "Rosario";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.4rem;
  margin: 1.5rem 1rem;
}

.form input {
  width: 40%;
}

.form textarea {
  width: 90%;
}
/* form styles end */

/* footer styles start  */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 85%;
  text-align: center;
  font-weight: 600;
  font-size: 2.4rem;
  margin: 0 auto;
}

.footer p {
  margin: 0;
}

.footer span,
.social-links__title,
.hours-title {
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  justify-content: center;
}

.instagram::before {
  content: "";
  display: inline-block;
  background-image: url(../img/instagram-icon.png);
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  background-position: center;
}

.facebook::before {
  content: "";
  display: inline-block;
  background-image: url(../img/facebook-icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  background-position: center;
}

.twitter::before {
  content: "";
  display: inline-block;
  background-image: url(../img/twitter-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  background-position: center;
}
